$baseColor = #fff;

.demo1
  background-color $baseColor;
  margin: 20px;
  padding 10px
  border-radius: 5px;
  transform: translate(-5px);
  border: 2px solid #00ff2b;
  box-shadow: 10px 10px 5px #888888;
  &-list
    background-color red
    color blue
    padding 10px